<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Web Scraper With Playwright and Flask</h1>
            <form method="POST">
        <label>City:</label>
        <select name="city">
            <option value="new-york-usa">New York</option>
            <option value="rio-de-janeiro-brazil">Rio de Janeiro</option>
            <option value="dubai-uae">Dubai</option>
            <option value="paris-france">Paris</option>
            <option value="london-uk">London</option>
            <option value="tokyo-japan">Tokyo</option>
            <option value="barcelona-spain">Barcelona</option>
            <option value="rome-italy">Rome</option>
            <option value="bali-indonesia">Bali</option>
            <option value="sydney-australia">Sydney</option>
        </select>
        <br>

        <label>Checkin:</label>
        <input type="date" name="checkin" required><br>
        <label>Checkout:</label>
        <input type="date" name="checkout" required><br>
        <label>Adults:</label>
        <input type="number" name="adults" min="1" value="1"><br>

        <!-- dois botões diferentes -->
        <button type="submit" name="action" value="save_data">Salvar Dados</button>
        <button type="submit" name="action" value="run_scraper">Run Scraper</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}


        {% if data %}
            <h2>Dados Raspados (Primeiros 10 resultados para visualização):</h2>
            <ul>
                {% for item in data[:10] %}
                    <li><strong>{{ item.text }}</strong>: <a href="{{ item.href }}" target="_blank">{{ item.href }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
